@mixin big-component-style() {
    padding: 0 10px;
}

body {
    font-family: sans-serif;
}

.header-region {
    @include big-component-style();

    display: flex;
    align-items: center;
    background: $color-yellow;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;

    .layout {
        display: flex;
        align-items: center;

        @media (max-width: $width-small) {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    .site-logo {
        @media (max-width: $width-small) {
            margin: 0 auto;
        }
    }

    .site-logo image {
        @media (max-width: $width-small) {
            width: 50px;
        }
    }


    .site-name {
        margin: 11px 0 0 20px;

        @media (max-width: 450px) {
            margin-left: 0;
        }
    }

    .share-calendar {
        margin-left: auto;
        @media (max-width: 450px) {
            margin: 0 auto;
        }

    }

    .social-networks {
        margin-top: 15px;
    }
}

.site-name {
    font-family: $font-header;
    color: $color-blue;
    
    .title {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    .description {
        font-size: 16px;
        margin-top: 0;
    }
}

.main-button {
    background: $color-red;
    font-family: sans-serif;
    text-decoration: none;
    color: $color-yellow;
    padding: 5px 11px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: 2s;

    &:hover {
        background: lighten($color-red, 40%);
        color: $color-grey-dark;
        transition: 2s;
    }

    &.-big {
        font-size: 20px;
        font-weight: normal;
        border-radius: 20px;
    }
}

.site-logo {
    .image { 
        width: 99px;
    }    
}

.social-networks {
    text-align: center;
}

.color-choise {
    .label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .dropdown {
        padding: 5px;
        border: 1px solid $color-grey;
        border-radius: 5px;
    }
}

.single-calendar {
    color: $color-grey-dark;
    margin-top: 50px;

    .deletecalendar {
        margin-right: 20px;
    }
    .addcalendar {
        margin-left: 20px;
    }

    .calendarcontrol {
        visibility: hidden;
        font-size: 15px;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $color-red;
        }
    }

    &:hover .calendarcontrol {
        visibility: visible;
    }
    
    .calendar {
        border: 1px solid $color-blue;
        border-radius: 10px;
        padding: 15px 10px;
        width: 270px;
    }

    .monthname {
        font-family: $font-header;
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
      }  
    
    .weekdays {
        color:lighten($color-grey-dark, 50%);
    }

    .dayname {
        font-weight: normal;
        text-align: center;
        padding-bottom: 7px;
    }

    .daynumber {
        padding: 15px 5px 15px 5px;
        text-align: center;
    }

    .daynumber:hover {
        background: $color-yellow;
        cursor: pointer;
    }

    .daynumber:last-child, 
    .dayname:last-child {
        color: $color-red;
    }
}

.control-panel {
    @include big-component-style();
}

.calendar-list {
    @include big-component-style();

    .single-calendar {
        margin-left: $calendar-gap;
    }
}

.calendar-list .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -$calendar-gap;
}

.register-region {
    margin: 50px 0;
    padding: 50px 0;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .form-normal {
        opacity: 0;
        transition: 2s;
    }

    &:hover .form-normal {
        animation: showform 1s forwards;
        opacity: 1;
        transition: 2s;
    }

}

.form-normal {
    .input, .select {
        display: block;
        width: 220px;
        margin: 12px auto;
        border: 1px solid $color-grey-dark;
        padding: 5px;
        height: 33px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .checkbox, .radio {
        display: block;
        width: 220px;
        margin: 0 auto;
        color: white;

    }

    .checkbox {
        cursor: pointer;
        margin-bottom: 10px;
    }

    .submit {
        display: block;
        margin: 30px auto 0;
    }
}
