$font-header: 'Roboto Condensed', sans-serif;

$color-yellow: #FEF0D5;
$color-blue: #235C55;
$color-red: #D81E5D;
$color-grey: #DBDBDB;
$color-grey-dark: #525053;

$calendar-gap: 25px;

$width-small: 450px;
